<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="configuration" value="Configuration.xml"/>
		<add key="firstControllerConfiguration" value="firstControllerConfiguration.xml"/>
		<add key="secondControllerConfiguration" value="secondControllerConfiguration.xml"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>